<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dogbot_ros2_control" params="name prefix">
        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin>dogbot_hardware/DogBotSystemHardware</plugin>
                <param name="lf_wheel_name">lf_wheel_joint</param>
                <param name="rf_wheel_name">rf_wheel_joint</param>
                <param name="lb_wheel_name">lb_wheel_joint</param>
                <param name="rb_wheel_name">rb_wheel_joint</param>
                <param name="servo_forearm_name">servo_forearm_joint</param>
                <param name="servo_gripper_name">servo_gripper_joint</param>
                <param name="sonar_name">sonar_joint</param>
                <param name="device">/dev/arduino</param>
                <param name="baud_rate">115200</param>
                <param name="timeout_ms">1000</param>
                <param name="enc_counts_per_rev">1320</param>
            </hardware>

            <joint name="${prefix}lf_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${prefix}rf_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${prefix}lb_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${prefix}rb_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${prefix}servo_forearm_joint">
                <command_interface name="position" />
            </joint>
            <joint name="${prefix}servo_gripper_joint">
                <command_interface name="position" />
            </joint>
            <joint name="${prefix}sonar_joint">
                <state_interface name="range" />
            </joint>
            

        </ros2_control>
    </xacro:macro>
</robot>