<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dogdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find dogdrive_arduino)/urdf/dogbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find dogdrive_arduino)/urdf/dogbot.materials.xacro" />

  <!-- Import dogbot ros2_control description -->
  <xacro:include filename="$(find dogdrive_arduino)/ros2_control/dogbot.ros2_control.xacro" />

  <xacro:dogbot prefix="$(arg prefix)" />

  <xacro:dogbot_ros2_control
    name="Dogbot" prefix="$(arg prefix)" />

</robot>
