<?xml version="1.0"?>
<!-- Basic drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dogbot_base">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find dogbot_description)/dogbot/urdf/dogbot.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find dogbot_description)/dogbot/urdf/dogbot.materials.xacro" />

  <!-- Import dogbot ros2_control description -->
  <xacro:include filename="$(find dogbot_hardware)/ros2_control/dogbot.ros2_control.xacro" />

  <xacro:dogbot prefix="$(arg prefix)" />

  <xacro:dogbot_ros2_control
    name="DogBot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
